---
import "./index.scss";

type Props = {
  title: string;
  description: string;
  product?: string;
  repository?: string;
  image?: string;
  video?: string;
};

const { title, description, product, repository, image, video } = Astro.props;
---

<div class="info-card">
  <div class="image-text">
    <div class="title">
      {title}
    </div>
    <div class="description">
      {description}
    </div>
    <div class="bottom">
      {
        product && (
          <a class="btn hover-effect" href={product} target="_blank">
            Visit
          </a>
        )
      }
      {
        repository && (
          <a class="btn hover-effect" href={repository} target="_blank">
            GitHub
          </a>
        )
      }
    </div>
  </div>
  <div class="media image-shadow">
    {
      image && (
        <a href={product} target="_blank">
          <img src={image} />
        </a>
      )
    }
    {
      video && (
        <iframe
          loading="lazy"
          title="video"
          src={video}
          frameborder="0"
          allowfullscreen="allowfullscreen"
        />
      )
    }
  </div>
</div>
